* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  max-width: 80vh;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
input {
  padding: 0.8rem 1rem;
}

.checkbox_container {
  display: "flex";
  flex-wrap: nowrap;
  width: 100%;
  padding: 1rem;
}

label {
  width: 100%;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 0.3rem;
  border-radius: 1000px;
}
.active{
  background-color: rgb(3, 129, 255);
  color: white;
}

input[type="checkbox"] {
  margin: 2rem;
  visibility: hidden;
}
